* {
    color: #e7e7e7;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #1c1c1c;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers child elements horizontally */
    align-items: center; /* Centers child elements vertically */
    padding: 10vh 0 10vh 0;
    margin: 0; /* Removes default margin */
}

button {
    margin-top: 10px;
    background-color: #4D9E5F;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;

}

button:hover {
    background-color: #448752;
    transition: ease-in 0.2s;
}

#userInput {
    width: 25rem;
    height: 40px;
    color: #d9d9d9;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #7E7E7E;
    border: none;
    overflow-y: auto;
    resize: none;
}
/* Scrollbar styles for WebKit browsers */
#userInput::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#userInput::-webkit-scrollbar-track {
    background-color: #7E7E7E; /* Background color of the scrollbar track */
    border-radius: 15px; /* Round the corners of the track */
}

#userInput::-webkit-scrollbar-thumb {
    background-color: #d9d9d9; /* Color of the scrollbar thumb */
    border-radius: 15px; /* Round the corners of the thumb */
    border: 3px solid #7E7E7E; /* Adds a border around the thumb */
}

#userInput::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Color of the thumb when hovered */
}

::placeholder {
    color: #989898;
}


strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#credits {
    font-size: 0.7rem;
    margin-top: 10px;
    text-align: center;
}



.mainContainer {
    background-color: #313131;
    min-width: 350px;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px; /* Adds space between content and border */
    text-align: left; /* Centers text inside the container */
}

.innerMainContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 1.3rem;
}

/* Result container */

.resultContainer {
    background-color: #575757;
    display: inline-block;
    border-radius: 20px;
    padding: 10px; 
    padding-top: 25px;
    text-align: left; 
    margin-top: 10px;
    width: 95%;
    
}

.resultContainer p {
    margin-top: -10px;
}

.resultContainerTextBox {
    background-color: #575757;
    display: inline-block;
    border-radius: 20px;
    padding: 10px; 
    padding-top: 25px;
    text-align: left; 
    margin-top: 10px;
    width: 95%;
    
}

.resultContainerTextBox p {
    margin-top: -10px;
    margin-bottom: 5px;
}

#resultTextbox {
    width: 95%;
    height: auto;
    color: #d9d9d9;
    border-radius: 15px;
    overflow-y: auto;
    padding: 10px;
    font-weight: bold;
    /* padding-top: 10px; */
    background-color: #7E7E7E;
    border: none;
    resize: none;
    /* height: fit-content; */
}